<!-- <div class="edit-content">
    <h1>Edit Item</h1>
    <div class="edit-content">
        <h1>Edit Item</h1>
        <p>Edit the details of the item here.</p>
        <form>
          <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" [(ngModel)]="item.title" />
          </div>
          <div>
            <label for="price">Price:</label>
            <input type="number" id="price" name="price" [(ngModel)]="item.price" />
          </div>
          <div>
            <label for="category">Category:</label>
            <input type="text" id="category" name="category" [(ngModel)]="item.category" />
          </div>
          <div>
            <label for="description">Description:</label>
            <textarea id="description" name="description" [(ngModel)]="item.description"></textarea>
          </div>
          <div>
            <label for="image">Image URL:</label>
            <input type="text" id="image" name="image" [(ngModel)]="item.image" />
          </div>
          <div>
            <label for="rating">Rating:</label>
            <input type="number" id="rating" name="rating" [(ngModel)]="item.rating.rate" />
          </div>
          <div>
            <label for="reviewCount">Review Count:</label>
            <input type="number" id="reviewCount" name="reviewCount" [(ngModel)]="item.rating.count" />
          </div>
          <button type="submit" (click)="saveItem()">Save</button>
        </form>
      </div>
      
  </div>
   -->